euglenatracker/pyvenv.cfg
euglenatracker/Include
euglenatracker/Lib
euglenatracker/Scripts
euglenatracker/share
euglenatracker/__pycache__
euglenatracker/.circleci
euglenatracker/.github
annotationsapp/